td {
  position: relative;
}

// CSS based harvey balls based on wenjul's work: https://codepen.io/wenjul/pen/Hphaj
.harvey {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: solid 1px #000;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.harvey.quarters:before {
  content: " ";
  display: block;
  border: solid 1px transparent;
  background: #000;
  width: 8px;
  height: 8px;
}

.harvey.half:before, .harvey.three-quarters:before {
  height: 16px;
}

.harvey.three-quarters:after {
  content: " ";
  display: block;
  border: solid 1px transparent;
  background-color: #000;
  margin-top: -9px;
  width: 16px;
  height: 8px;
}

.harvey.quarters.full:before {
  height: 16px;
  width: 16px;
}

.legend-wrapper {
  text-align: left;
  padding-left: 20px;
}

.legend {
  list-style: none;
  padding-left: 0px;
}

.legend-span {
  position: relative;
  padding-right: 20px;
}

.category-list {
  display: table;

  .category {
    display: table-row;

    .category-cell {
      display: table-cell;
      text-align: left;
      border-right: 4px solid transparent;
      border-bottom: 13.5px solid transparent;
      font-size: 14px;

      svg {
        height: 12px;
        width: 12px;
        margin-bottom: 0px;
        position: relative;
        top: 1px;
        fill: #6b4fbb;
      }

    }

    .category-cell:last-child {
      border-right: 0 none;
    }

  }

  .category:last-row {
    border-bottom: 0 none;
  }

}

.maturity-cell {
  text-align: center;

  svg {
    height: 20px;
    width: 20px;
    margin-bottom: 0px;
    fill: #6b4fbb;
    position: relative;
    top: 3px;
  }
}


.header-fixed th {
  background-color: #ffffff;
  position: sticky;
  top: 55px;
  z-index: 999;
}

.maturity-intro {
  width: 100%;
  margin-top: 50px;
  margin-bottom:50px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #d3d3d3;
}

#maturity-no-padding {
  padding: 0px;
}