---
layout: default
title: Find a Speaker
suppress_header: true
description: Find a speaker page
extra_css:
  - speakers.css
---

- regions = data.speakers.reject { |speaker| speaker.region.nil? }.uniq.sort_by { |speaker| [speaker.region, speaker.name] }.group_by(&:region)

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1
      Find a speaker from GitLab
    %p
      Organizing an event? Looking for a speaker from GitLab? Look no further. Here's a list of awesome speakers from the GitLab team and wider community. Feel
      free to reach out directly to the speakers listed.
    %a.btn.cta-btn.accent{ href: "#contact-us" } I can't find a speaker

.container-fluid.speakers
  .col-md-10.col-md-offset-1
    .tile.flex-container.flex-wrap.justify-center.align-center.text-center.region-links
      - regions.keys.each do |region|
        %h4
          = link_to region, "##{region.delete(' ')}"
    .speaker-list
      - regions.each do |region, speakers|
        %h2.text-center.region-title{ id: "#{region.delete(' ')}" }
          = region
        - speakers.each_slice(3) do |speaker_group|
          .row
            - speaker_group.each do |speaker|
              .col-md-4
                .tile.speaker-container
                  .text-center
                    .speaker-header
                      %h4
                        = speaker.name
                      %p= link_to speaker.location, "https://maps.google.com/?q=#{escape_html(speaker.location)}"
                      %p= speaker.specialty
                      %p= link_to speaker.email, "mailto:#{speaker.email}"
                    - if speaker.presentations.present?
                      .speaker-presentations
                        %h4
                          Presentations:
                        %ul.presentation-list
                          - speaker.presentations.each do |presentation|
                            %li
                              = link_to presentation.title, presentation.link

.container-fluid.contact-us#contact-us
  .col-md-8.col-md-offset-2
    .text-center
      %h2
        Still couldn't find a speaker?
      %a.btn.cta-btn.accent.margin-top20{href: "https://docs.google.com/forms/d/e/1FAIpQLSc6jQWbh-63myQu7EBuZZ0KY2J_EKSAZPH6OP2TURNBmfMjtg/viewform?usp=sf_link"}
        Reach out and we'll help find one
