---
title: "How working at GitLab has changed my view on work and life"
author: Hazel Yang
author_gitlab: hazelyang
author_twitter: hazelyuyang
categories: culture
image_title: '/images/blogimages/working-at-gitlab/gitlab-effects.jpg'
twitter_image: '/images/blogimages/working-at-gitlab/gitlab-effects.jpg'
description: "A glimpse of the things I've learned at GitLab since I joined."
ee_cta: false
tags: inside GitLab, collaboration, careers
---

I will have been at GitLab for two years in June of this year. Working at GitLab is a fresh experience for me. Joining a company outside of Asia and working 100 percent remotely was not something that I had previously done. It not only affects my work but my entire life. I am so grateful to have the opportunity to work with talented and friendly people around the world. I think it would be good to share my reflections about what I’ve learned during this 19-month journey.

<!-- more -->

We have an open source [handbook](/handbook/) that everyone can access, and it includes our six [values](/handbook/values/), (CREDIT) which support our everyday work. Keeping these values in mind benefits me a lot both in my work and in my life, and I would love to share them with you here:

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

### Expressing oneself completely, clearly and without reservation

Collaboration is essential in our everyday work. At GitLab, we prefer asynchronous communication instead of synchronous communication since we are spread around the world, from America, Europe, Africa, to Asia. We rely on text-based communication heavily. However, words are cold without the body language support, and they could easily lead to misunderstanding and conflict. So how we express our thoughts clearly and kindly in text becomes crucial.

After joining GitLab, I always think twice before sending out messages or comments, even in my personal life. I started to choose my words more carefully both in English and Chinese. I also have tried to explain as much as possible. I found that if I did these two things, I can avoid the misunderstanding and increase the efficiency of communication. The most important thing is that people feel comfortable while discussing with you in the text. So don't be afraid to completely express your thoughts, in a careful and sensitive manner.

### Don't be shy to show your gratitude

We have ["Say thanks"](/handbook/communication/#say-thanks) in our [values](/handbook/values/), and we often say "Thank you" to each other, especially in our "Thanks" channel on Slack.

{: .text-center}
![graphic-gratitude](/images/blogimages/working-at-gitlab/gratitude.png){:height="480px" width="680px"}

Due to my personality and culture, at first I was shy to express my appreciation to my friends, family, and colleagues. At GitLab, we have a unique culture that encourages people to say “thanks,” so I try not to be too shy to show my gratitude. As I practiced this more and more, it became a habit and a natural thing to me. Now I say “thanks” very often, even for little things, and it feels positive and makes me happy every day.

Expressing gratitude not only makes me feel satisfied, it also makes the person that I expressed my appreciation for have a beautiful mood.

### Learning from failure

"Iteration" is critical to our product improvement and development. We see what each of us produce initially as a draft. This helps us reduce the cycle time and have a prototyping mindset towards the features we are working on. We are not afraid of failure since we are always flexible in adjusting our products based on the feedback from both our external and internal communities.

{: .text-center}
![graphic-iterations](/images/blogimages/working-at-gitlab/iterations.png){:height="480px" width="680px"}

I have applied this mindset to my personal life as well. In my culture, we value the smart person who never makes mistakes. So we try as hard as possible to avoid errors and losing face. However, the prototyping mindset changed my thoughts and reactions towards the things that previously may have made me feel embarrassed or uncomfortable. I became more open-minded in accepting positive and negative feedback from others. I no longer get upset or offended if someone corrects something that I did. I realized that my life is also a kind of product and it will be better and better in every iteration.

### Trust your team and grow with them

When you trust your team members, you will be brave enough to leave your comfort zone because you believe they will give you the support whenever you need it.

A good example of trust concerns my English. English is my second language and therefore it is a weakness of mine. When you lack confidence in something, you often refuse to do the things outside of your comfort zone as you fear it would make you look stupid. This was exactly my situation when I joined GitLab. However, when I realized that the people around me weren’t as concerned about my shortcomings in English as much as they valued me for my contributions to the company. It gives me the courage to face my linguistic challenges.

I am still not 100 percent as confident in English as I am in Mandarin, yet my confidence has increased from 30 percent to almost 70 percent if one puts a number to it. As you can see, I am writing this blog post in English to share my experience at GitLab now. This is only my second blog post.

GitLab provides a very positive environment where I can improve and grow professionally as well as personally. I appreciate that my colleagues are always supportive and patient. I feel safe and comfortable while doing challenging things, not just concerning my English but in all of the tasks that I face at GitLab.

### Befriend your manager and colleagues

I felt that it was harder to befriend managers and colleagues at a company in Asia. I am not the sure what the reason is, but I think perhaps it is because of Confucianism which impacts our culture a lot.

At GitLab, I speak freely about numerous things to my manager, [Sarrah Vesselov](/company/team/#SVesselov), since I know she cares about our team and wants our team to grow. I also feel that GitLab is like a big family even though we are a large and distributed team. We try as hard as we can to get people together in both virtual and practical ways.

{: .text-center}
![image-summit](/images/blogimages/working-at-gitlab/summit.png){:height="480px" width="680px"}

For example, we have the [team call](/handbook/communication/#team-call), and people can share a bit about their lives. We also encourage our team members to join the ["virtual coffee breaks"](https://work.qz.com/1147877/remote-work-why-we-put-virtual-coffee-breaks-in-our-company-handbook/) to get to know each other. Moreover, we host a [summit](/company/culture/contribute/) to get together in person every nine months. This year we will meet in [Cape Town, South Africa](https://gitlab.com/summits/2018-Summit).

### Embrace diversity

GitLab promotes [diversity](/company/culture/inclusion/) and hires globally. We believe "Culture add" much more than "Culture fit." We include different race, color, religion, gender, national origin, age, disability, or genetics. We also support inclusive benefits, for instance, [Transgender Medical Services](/handbook/benefits/inc-benefits-us/) and [Pregnancy and Maternity Care](/handbook/benefits/#parental-leave). We have a LGBTQ+ channel on Slack as well. Embracing differences powers our creativity.

{: .text-center}
![graphic-diversity](/images/blogimages/working-at-gitlab/diversity.png){:height="480px" width="680px"}

Working with people from diverse backgrounds is fantastic. I have learned from others’ communicative styles and different ways of thinking. I have broadened my views and now see the world from different perspectives. I am much more open-minded. The most important thing is that I completely understand that we are equal regardless of who we are.

## Conclusion

Working at GitLab is a unique experience for me. I feel excited to start my work every day and enjoy the job I am doing.

For those that may be interested in working at Gitlab, we are currently hiring people from everywhere. If you want to join the journey, you can check out our [jobs](/jobs/) page and feel free to apply for the position if you feel that you are qualified. We are looking forward to hearing from you!
